@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@100;200;300;400;500&display=swap');

* {
    box-sizing: border-box;
    overflow: hidden;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', serif;
    color: #E9ECF5;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    width: 100%;
    padding: .25rem;
    margin: 0;
}

li {
    width: min-content;
    margin: auto;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: .75rem;
}

.header {
    background-color: #2E2E2E;
}

.hero {
    width: 100%;
    min-height: 8rem;
    height: clamp(8rem, 65vw, 40rem);
    background-image: 
        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)),
        url("./imgs/boards-and-food.jpg");
    background-position: center 20%;
    background-size: clamp(20rem, 60vw, 60rem), clamp(20rem, 60vw, 60rem);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: block;
    height: 1.5rem;
    color: white;
}

section {
    width: 100%;
}

.product-section {
    background-color: #D1DDE5;
    min-height: 17rem;
    display: flex;
    flex-grow: 2;
}

.content {
    width: 100%;
    margin: 1rem 0;
}

.row {
    min-height: 10rem;
    /* border: 1px red solid; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3 {
    font-size: .75rem;
    text-align: center;
    display: inline-block;
    color: #2E2E2E;
    margin: 0;
    margin-bottom: .5rem;
}

.row-img {
    height: 10rem;
    width: 10rem;
    border-radius: .25rem;
    margin-bottom: .5rem;
}

.row-heading {

}

.row-copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: .5rem;
}

.row-copy > p, .call-to-action {
    text-align: center;
    margin: 0;
    font-size: .5rem;
    width: 100%;
    color: #2E2E2E;
}
.call-to-action {
    text-decoration: underline;
}

.footer {
    background-color: #2E2E2E;
    height: min-content;
    margin: 0;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.footer-content {
    /* border: 3px solid green; */
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
}

.footer-heading, .footer-content > p {
    color: #E9ECF5;
    margin: 0;
    text-align: center;
    font-size: .75rem;
}

.footer-heading {
    margin-bottom: .5rem;
}

.footer-content > p, .footer-content > p > a{
    font-size: .5rem;
}