@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@100;200;300;400;500&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', serif;
    color: #E9ECF5;
    min-width: 240px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

li {
    width: min-content;
    margin: auto;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: .75rem;
}


/* nav start */
.header {
    background-color: #2E2E2E;
}

.nav {
    padding: .25rem;
}
/* nav end */

/* main image start */
.hero {
    width: 100%;
    min-width: 250px;
    min-height: 15rem;
    height: clamp(20rem, 70vw, 35rem);
    background-image: 
        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)),
        url("./imgs/boards-and-food.jpg");
    background-position: center 20%;
    /* background-size: clamp(25rem, calc(25rem + 80vw), 100vw),
        clamp(25rem, calc(25rem + 80vw), 100vw); */
    background-size: max(250px, 100vw) max(250px, 100vw);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: block;
    height: 1.5rem;
    color: white;
}
/* main image end */

/* product section start */
section {
    width: 100%;
}

.product-section {
    background-color: #D1DDE5;
    min-height: 25rem;
    display: flex;
    align-items: center;
    flex-grow: 2;
    padding-left: 1rem;
    padding-rigth: 1rem;
}

.content {
    width: 100%;
    margin: 1rem 0;
}

.row {
    min-height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3 {
    font-size: 1rem;
    text-align: center;
    display: inline-block;
    color: #2E2E2E;
    margin: 0;
    margin-bottom: .5rem;
}

.row-img {
    height: 15rem;
    width: 15rem;
    border-radius: .25rem;
    margin-bottom: 1rem;
}

.row-heading {

}

.row-copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: .5rem;
}

.row-copy > p, .call-to-action {
    text-align: center;
    margin: 0;
    font-size: .75rem;
    width: 100%;
    color: #2E2E2E;
}
.btn {

    /* width: calc(min-content + 10rem);
    height: calc(min-content + 2rem); */
    background-color: #2E2E2E;
    padding: .1rem 1rem;
    border-radius: 2rem;
    /* border: 5px solid #D1DDE5; */
    border: 3px solid #E9ECF5;
    transition: transform 300ms ease-in-out;
}
.btn:hover {
    cursor: pointer;
    transform: translateY(-2px);
    transition: transform 300ms ease-in-out;
}
.call-to-action {
    /* text-decoration: underline; */
    color: #E9ECF5;
}
/* product section end */

/* footer start */
.footer {
    background-color: #2E2E2E;
    height: min-content;
    margin: 0;
}

.footer-content {
    margin-top: .5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.footer-heading, .footer-content > p {
    color: #E9ECF5;
    margin: 0;
    text-align: center;
}

.footer-heading {
    font-size: 1rem;
    margin-bottom: .5rem;
}

.footer-content > p, .footer-content > p > a{
    font-size: .75rem;
}
/* footer end */

/* responsive start */
@media (min-width: 500px) {
    html {
        font-size: 32px;
    }
}
/* responsive end */